data/raw/*
data/bronze/*
data/silver/*
data/gold/*
!data/raw/.gitkeep
!data/bronze/.gitkeep
!data/silver/.gitkeep
!data/gold/.gitkeep
__pycache__/
*.pyc
.venv/
desktop.ini
echo dbt_project/keys/>>.gitignore

dbt_project/keys/
dbt_project/logs/
